.jumbotron {
    color:white;
}
.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    background-color: #1A0D0A;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1A0D0A !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #1c94c4;
}
.center-blue{
    border-bottom: solid;
    border-bottom-color: #31b0d5;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
.bg-grey {
    background-color: #f6f6f6;
}
.objave{clear: all;margin-bottom: 3px}
.objave img{width: 100%}
.objave h3{margin-top: 0}
.footer {
    bottom: 0;
    width: 100%;
    background-color: #1A0D0A;
    color:#e1e1e1;
}
.p30{padding: 30px 0;}
.m100{margin-top: 100px;}
.b{border-top: #000 solid;height: 60px;padding: 0}
.b img{height: 100%}
.dropdown-menu ul li a{color: #0f0f0f}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu{
    background-color: #1A0D0A;
    color:#0f0f0f;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.pt60{padding-top: 60px}
.pt30{padding-top: 30px}

.btn-c {
    padding: 10px 20px;
    background-color: #1A0D0A;
    border: 1px solid #1A0D0A;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn-cz {
     padding: 10px 20px;
     background-color: #0F564C;
     border: 1px solid #1A0D0A;
     color: #f1f1f1;
     border-radius: 0;
     transition: .2s;
 }
.btn-c:hover, .btn-c:focus,.btn-cz:hover, .btn-cz:focus {
    border: 1px solid #1A0D0A;
    background-color: #fff;
    color: #000;
}
.form-control-c{ border-radius: 0; border:1px solid #F9F9F9; resize: none }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #1A0D0A;
    border-radius:0;
}