.jumbotron {
    /*  background-color: #1c94c4; /* Plava */
    /*  color: #ffffff;/*Boja slova*/
    color:white;
}

/*Navigacija*************************************/
.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    /*letter-spacing: 4px;*/
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    background-color: #1A0D0A;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1A0D0A !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/*Footer*************************************/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #1c94c4;
}
.center-blue{
    border-bottom: solid;
    border-bottom-color: #31b0d5;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
.bg-grey {
    background-color: #f6f6f6;
}
.objave{clear: all;margin-bottom: 3px}
.objave img{width: 100%}
.objave h3{margin-top: 0}
.footer {
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background-color: #1A0D0A;
    color:#e1e1e1;
}
